 <div class="header">
      <div class="container">
        <h1>threadly</h1>
      </div>
    </div>

    <div class="main">
      <div class="container">
       
        <div class="posts">
        <%= form_for(@new_post) do |f| %>
        <div class="postBody"><%= f.text_area :comment %></div>
          <div class="post"><%= f.submit "Submit" %></div>
        <% end %>
          
        </div>

        <ul class="comments">
          <% @all_posts.each do |p| %>
 				 <li><%= p.comment %></li>
  			<% end %>
        </ul>

      </div>
    </div>

